body {
    padding:5px;
}
.kr-form-layout {
    padding-top:90px;
}
.kr-form-layout-header {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 90px;
    padding: 10px;
    border:1px solid #ccc;
}
.kr-form-item-title {
    width:58px;
    padding-right:0px;
    text-align:left;
}
.kr-form-item {
    padding-left:58px;
}
.kr-form-layout-body
{
    padding-top:30px;
    border:1px solid #ccc;
    border-top:0px;
}
