@{
    ViewBag.Title = "订单";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="kr-form-wrap" id="form">
    <div class="col-xs-12 kr-form-item" data-table="WD_Order">
        <div class="kr-form-item-title">订单编号<font face="宋体">*</font></div>
        <input id="F_Order_Id" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 kr-form-item" data-table="WD_Order">
        <div class="kr-form-item-title">用户编号<font face="宋体">*</font></div>
        <input id="F_User_Id" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 kr-form-item" data-table="WD_Order">
        <div class="kr-form-item-title">地址编号<font face="宋体">*</font></div>
        <input id="F_Address_Id" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 kr-form-item" data-table="WD_Order">
        <div class="kr-form-item-title">支付金额<font face="宋体">*</font></div>
        <input id="F_Payment" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 kr-form-item" data-table="WD_Order">
        <div class="kr-form-item-title">运费</div>
        <input id="F_Postage" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 kr-form-item" data-table="WD_Order">
        <div class="kr-form-item-title">订单状态<font face="宋体">*</font></div>
        <input id="F_Status" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 kr-form-item" data-table="WD_Order">
        <div class="kr-form-item-title">支付时间</div>
        <input id="F_PaymentDate" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 kr-form-item" data-table="WD_Order">
        <div class="kr-form-item-title">备注</div>
        <input id="F_Remark" type="text" class="form-control" />
    </div>
</div>
@Html.AppendJsFile("/Areas/KR_CodeModule/Views/WD_Order/Form.js")
