@{
    ViewBag.Title = "数据字典";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="kr-layout kr-layout-left-center" id="kr_layout">
    <div class="kr-layout-left">
        <div class="kr-layout-wrap">
            <div class="kr-layout-title">字典分类</div>
            <div class="kr-layout-body" id="kr_left_tree"></div>
        </div>
    </div>
    <div class="kr-layout-center">
        <div class="kr-layout-wrap">
            <div class="kr-layout-title">
                字典数据 - <span id="titleinfo">未选择分类</span>
            </div>

            <div class="kr-layout-tool">
                <div class="kr-layout-tool-right">
                    <div class="btn-group btn-group-sm">
                        <a id="kr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class="btn-group btn-group-sm" keren-authorize="yes">
                        <a id="kr_edit" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                    </div>
                </div>
            </div>

            <div class="kr-layout-body" id="gridtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/KR_LGManager/Views/LGMap/DataItemLG.js")

