@{
    ViewBag.Title = "语言映照";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="kr-form-wrap" id="form">
    <div class="col-xs-12 kr-form-item">
    </div>
</div>
@Html.AppendJsFile("/Areas/KR_LGManager/Views/LGMap/Form.js")
