@{
    ViewBag.Title = "按钮添加";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="kr-form-wrap" id="form">
    <div class="col-xs-12 kr-form-item">
        <div class="kr-form-item-title">按钮ID<font face="宋体">*</font></div>
        <input id="btnId" type="text" class="form-control" placeholder="请输入ID" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 kr-form-item">
        <div class="kr-form-item-title">按钮名称<font face="宋体">*</font></div>
        <input id="btnName" type="text" class="form-control" placeholder="请输入名称" isvalid="yes" checkexpession="NotNull" />
    </div>
</div>
@Html.AppendJsFile("/Areas/KR_CodeGeneratorModule/Views/TemplatePC/AddBtnForm.js")

