@{
    ViewBag.Title = "鱼台龙虾节后台管理系统";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@Html.AppendCssFile("/Views/Home/index.css")
<div class="kr-frame-top">
    <a class="kr-logo-title"><img src="~/Content/images/long-logo.png"></a>
</div>
<div class="kr-frame-menu-btn" id="kr_frame_menu_btn"><i class="fa fa-fw fa-dedent"></i></div>


@Html.AppendJsFile("/Views/Home/index.js")




