@{
    ViewBag.Title = "个人中心-语言设置";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@Html.AppendCssFile("/Views/UserCenter/LanguageForm.css")
<div class="kr-form-wrap" id="form">
    <div class="kr-form-item">
        <div class="kr-form-item-title">客户端语言</div>
        <div id="Setting"></div>
    </div>
    <div class="kr-form-item"><a class="btn btn-primary" id="kr_save_btn"><i class="fa fa-save"></i>&nbsp;保&nbsp;存</a></div>
</div>
@Html.AppendJsFile("/Views/UserCenter/LanguageForm.js")