@{
    ViewBag.Title = "角色管理";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="kr-layout">
    <div class="kr-layout-center">
        <div class="kr-layout-wrap kr-layout-wrap-notitle">
            <div class="kr-layout-tool">
                <div class="kr-layout-tool-left">
                    <div class="kr-layout-tool-item">
                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" />
                    </div>
                    <div class="kr-layout-tool-item">
                        <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;<span class="krlg">查询</span></a>
                    </div>
                </div>
                <div class="kr-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="kr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" keren-authorize="yes">
                        <a id="kr_add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;<span class="krlg">新增</span></a>
                        <a id="kr_edit" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>&nbsp;<span class="krlg">编辑</span></a>
                        <a id="kr_delete" class="btn btn-default"><i class="fa fa-trash-o"></i>&nbsp;<span class="krlg">删除</span></a>
                        <a id="kr_more" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-reorder"></i>&nbsp;<span class="krlg">更多</span><span class="caret"></span>
</a>
                        <ul class="dropdown-menu pull-right">
                            <li id="kr_memberadd"><a><i></i>&nbsp;<span class="krlg">添加成员</span></a></li>
                            <li id="kr_memberadds"><a><i></i>&nbsp;<span class="krlg">添加成员按部门</span></a></li>
                            <li id="kr_memberlook"><a><i></i>&nbsp;<span class="krlg">查看成员</span></a></li>
                            <li id="kr_authorize"><a><i></i>&nbsp;<span class="krlg">功能授权</span></a></li>
                            <li id="kr_dataauthorize"><a><i></i>&nbsp;<span class="krlg">数据授权</span></a></li>
                            <li id="kr_cdataauthorize"><a><i></i>&nbsp;<span class="krlg">自定义表单数据授权</span></a></li>
                            <li id="kr_appauthorize"><a><i></i>&nbsp;<span class="krlg">移动功能授权</span></a></li>
                        </ul>
                    </div>
                    

                    <div class="btn-group btn-group-sm" keren-authorize="yes">
                        <a id="kr_appfilter" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-filter"></i>&nbsp;<span class="krlg">访问过滤</span><span class="caret"></span>
</a>
                        <ul class="dropdown-menu pull-right">
                            <li id="kr_ipfilter"><a><i></i>&nbsp;<span class="krlg">IP过滤</span></a></li>
                            <li id="kr_timefilter"><a><i></i>&nbsp;<span class="krlg">时段过滤</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="kr-layout-body" id="gridtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/KR_OrganizationModule/Views/Role/Index.js")
