<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDb" connectionString="Server=211.149.198.126;Initial Catalog=honest;User ID=sa;Password=localadmin" providerName="System.Data.SqlClient" />
  <add name="WFDB" connectionString="Server=211.149.198.126;Initial Catalog=honestOAWFForm;User ID=sa;Password=localadmin" providerName="System.Data.SqlClient" />
</connectionStrings>