@{
    ViewBag.Title = "岗位管理";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="kr-layout kr-layout-left-center" id="kr_layout">
    <div class="kr-layout-left">
        <div class="kr-layout-wrap">
            <div class="kr-layout-title krlg" >公司信息</div>
            <div id="companyTree" class="kr-layout-body"></div>
        </div>
    </div>
    <div class="kr-layout-center">
        <div class="kr-layout-wrap">
            <div class="kr-layout-title">
                <span id="titleinfo" class="krlg">未选择公司</span> - <span class="krlg">岗位信息</span>
            </div>

            <div class="kr-layout-tool">
                <div class="kr-layout-tool-left">
                    <div class="kr-layout-tool-item">
                        <div id="department_select" style="border-radius: 4px;width:160px;"></div>
                    </div>
                    <div class="kr-layout-tool-item">
                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" />
                    </div>
                    <div class="kr-layout-tool-item">
                        <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;<span class="krlg">查询</span></a>
                    </div>
                </div>
                <div class="kr-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="kr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" keren-authorize="yes">
                        <a id="kr_add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;<span class="krlg">新增</span></a>
                        <a id="kr_edit" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>&nbsp;<span class="krlg">编辑</span></a>
                        <a id="kr_delete" class="btn btn-default"><i class="fa fa-trash-o"></i>&nbsp;<span class="krlg">删除</span></a>
                    </div>
                    <div class=" btn-group btn-group-sm" keren-authorize="yes">
                        <a id="kr_memberadd" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;<span class="krlg">添加成员</span></a>
                        <a id="kr_memberlook" class="btn btn-default"><i class="fa fa-eye"></i>&nbsp;<span class="krlg">查看成员</span></a>
                    </div>
                </div>
            </div>

            <div class="kr-layout-body" id="gridtable">
            </div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/KR_OrganizationModule/Views/Post/Index.js")
