<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 是否启用js、css压缩-->
  <add key="JsCompressor" value="false" />
  <!-- 是否启用js、css缓存-->
  <add key="JsCompressorCache" value="false" />
  <!-- 代码生成器路径-->
  <add key="BackProject" value="Keren.Application.Development" />
  <add key="MappingDirectory" value="\Keren.Framework.Module\Keren.Application.Module\Keren.Application.Mapping" />
  <add key="ServiceDirectory" value="\Keren.Framework.Module\Keren.Application.Module\Keren.Application.Development" />
  <add key="WebDirectory" value="\Keren.Application.Web" />
  <add key="ApiDirectory" value="\Keren.Application.WebApi" />
  <!-- ================== 2：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 3：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.cdkeren.cn" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="鱼台县烹饪餐饮业协会" />
  <!-- 系统名称 -->
  <add key="SystemName" value="鱼台龙虾节后台管理系统" />
  <!-- 软件名称 -->
  <add key="SoftName" value="鱼台龙虾节后台管理系统" />
  <!-- 软件版本 -->
  <add key="Version" value="7.0.6.01" />

  <!-- ================== 7：附件上传地址 ================== -->
  <add key="AnnexesFile" value="D:/keren/yutailongxiajie/fileAnnexes" />
  <add key="ReportFile" value="~/Reports" />
  <!--Redis 缓存前缀 -->
  <add key="RedisPrev" value="adms706pro" />
  <!--缓存链接配置-->
  <add key="RedisExchangeHosts" value="127.0.0.1:6379,allowadmin=true"/>
  <!--存储信息(local:本地，qiniu:七牛云)-->
  <add key="StorageType" value="qiniu" />
  <!--七牛存储-->
  <add key="AccessKey" value="wWDtwmRrcnHnvWbaj9pnNkPD0D5Bmw7KVl-Ar2Ng" />
  <add key="SecretKey" value="TpfbRjGQLc-1XkWKvqn6VW3Ly7RFeVZAHFVMOD8B" />
  <add key="QiNiuBucket" value="qiniukerentest" />
  <add key="HttpsMark" value="false" />
  <add key="QiNiuHost" value="http://qiniukerentest.cdkeren.com/" />
  <!--head 头像存储地址 -->
  <add key="fileHeadImg" value="D:/keren/yutailongxiajie/fileHeadImg" />
  <add key="fileAppDTImg" value="D:/keren/yutailongxiajie/fileAppDTImg" />
  <add key="fileLogoImg" value="D:/keren/yutailongxiajie/fileLogoImg" />
  <!--其它设置 -->
  <add key="Intervals" value="1"/>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
</appSettings>