<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="Keren.DataBase.IDatabase,Keren.DataBase" />
    <typeAlias alias="SqlServer" type="Keren.DataBase.SqlServer.Database,Keren.DataBase.SqlServer" />
    <typeAlias alias="MySql" type="Keren.DataBase.MySqlEx.Database,Keren.DataBase.MySqlEx" />
    <typeAlias alias="Oracle" type="Keren.DataBase.Oracle.Database,Keren.DataBase.Oracle" />
    
  </typeAliases>
  <containers>
    <container name="IOCcontainer">
      <type type="IDatabase" mapTo="SqlServer" name="SqlServer"></type >
      <type type="IDatabase" mapTo="MySql" name="MySql"></type >
      <type type="IDatabase" mapTo="Oracle" name="Oracle"></type >
    </container>

    
  </containers>
</unity>