
@{
    ViewBag.Title = "SetNameForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="kr-form-wrap" id="form">
    <div class="col-xs-12 kr-form-item" style="padding-left:30px;">
        <input id="F_text" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
</div>
@Html.AppendJsFile("/Areas/KR_PortalSite/Views/Page/SetNameForm.js")

